In [1]:
from ucimlrepo import fetch_ucirepo 
import pandas as pd  
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [2]:
# fetch dataset 
abalone = fetch_ucirepo(id=1) 
  
abalone

{'data': {'ids': None,
  'features':      Sex  Length  Diameter  Height  Whole_weight  Shucked_weight  \
  0      M   0.455     0.365   0.095        0.5140          0.2245
  1      M   0.350     0.265   0.090        0.2255          0.0995
  2      F   0.530     0.420   0.135        0.6770          0.2565
  3      M   0.440     0.365   0.125        0.5160          0.2155
  4      I   0.330     0.255   0.080        0.2050          0.0895
  ...   ..     ...       ...     ...           ...             ...
  4172   F   0.565     0.450   0.165        0.8870          0.3700
  4173   M   0.590     0.440   0.135        0.9660          0.4390
  4174   M   0.600     0.475   0.205        1.1760          0.5255
  4175   F   0.625     0.485   0.150        1.0945          0.5310
  4176   M   0.710     0.555   0.195        1.9485          0.9455

        Viscera_weight  Shell_weight
  0             0.1010        0.1500
  1             0.0485        0.0700
  2             0.1415        0.2100
  3             0.1140        0.1550
  4             0.0395        0.0550
  ...              ...           ...
  4172          0.2390        0.2490
  4173          0.2145        0.2605
  4174          0.2875        0.3080
  4175          0.2610        0.2960
  4176          0.3765        0.4950

  [4177 rows x 8 columns],
  'targets':       Rings
  0        15
  1         7
  2         9
  3        10
  4         7
  ...     ...
  4172     11
  4173     10
  4174      9
  4175     10
  4176     12

  [4177 rows x 1 columns],
  'original':      Sex  Length  Diameter  Height  Whole_weight  Shucked_weight  \
  0      M   0.455     0.365   0.095        0.5140          0.2245
  1      M   0.350     0.265   0.090        0.2255          0.0995
  2      F   0.530     0.420   0.135        0.6770          0.2565
  3      M   0.440     0.365   0.125        0.5160          0.2155
  4      I   0.330     0.255   0.080        0.2050          0.0895
  ...   ..     ...       ...     ...           ...             ...
  4172   F   0.565     0.450   0.165        0.8870          0.3700
  4173   M   0.590     0.440   0.135        0.9660          0.4390
  4174   M   0.600     0.475   0.205        1.1760          0.5255
  4175   F   0.625     0.485   0.150        1.0945          0.5310
  4176   M   0.710     0.555   0.195        1.9485          0.9455

        Viscera_weight  Shell_weight  Rings
  0             0.1010        0.1500     15
  1             0.0485        0.0700      7
  2             0.1415        0.2100      9
  3             0.1140        0.1550     10
  4             0.0395        0.0550      7
  ...              ...           ...    ...
  4172          0.2390        0.2490     11
  4173          0.2145        0.2605     10
  4174          0.2875        0.3080      9
  4175          0.2610        0.2960     10
  4176          0.3765        0.4950     12

  [4177 rows x 9 columns],
  'headers': Index(['Sex', 'Length', 'Diameter', 'Height', 'Whole_weight', 'Shucked_weight',
         'Viscera_weight', 'Shell_weight', 'Rings'],
        dtype='object')},
 'metadata': {'uci_id': 1,
  'name': 'Abalone',
  'repository_url': 'https://archive.ics.uci.edu/dataset/1/abalone',
  'data_url': 'https://archive.ics.uci.edu/static/public/1/data.csv',
  'abstract': 'Predict the age of abalone from physical measurements',
  'area': 'Biology',
  'tasks': ['Classification', 'Regression'],
  'characteristics': ['Tabular'],
  'num_instances': 4177,
  'num_features': 8,
  'feature_types': ['Categorical', 'Integer', 'Real'],
  'demographics': [],
  'target_col': ['Rings'],
  'index_col': None,
  'has_missing_values': 'no',
  'missing_values_symbol': None,
  'year_of_dataset_creation': 1994,
  'last_updated': 'Mon Aug 28 2023',
  'dataset_doi': '10.24432/C55C7W',
  'creators': ['Warwick Nash',
   'Tracy Sellers',
   'Simon Talbot',
   'Andrew Cawthorn',
   'Wes Ford'],
  'intro_paper': None,
  'additional_info': {'summary': 'Predicting the age of abalone from physical measurements.  The age of abalone is determined by cutting the shell through the cone, staining it, and counting the number of rings through a microscope -- a boring and time-consuming task.  Other measurements, which are easier to obtain, are used to predict the age.  Further information, such as weather patterns and location (hence food availability) may be required to solve the problem.\r\n\r\nFrom the original data examples with missing values were removed (the majority having the predicted value missing), and the ranges of the continuous values have been scaled for use with an ANN (by dividing by 200).',
   'purpose': None,
   'funded_by': None,
   'instances_represent': None,
   'recommended_data_splits': None,
   'sensitive_data': None,
   'preprocessing_description': None,
   'variable_info': 'Given is the attribute name, attribute type, the measurement unit and a brief description.  The number of rings is the value to predict: either as a continuous value or as a classification problem.\r\n\r\nName / Data Type / Measurement Unit / Description\r\n-----------------------------\r\nSex / nominal / -- / M, F, and I (infant)\r\nLength / continuous / mm / Longest shell measurement\r\nDiameter\t/ continuous / mm / perpendicular to length\r\nHeight / continuous / mm / with meat in shell\r\nWhole weight / continuous / grams / whole abalone\r\nShucked weight / continuous\t / grams / weight of meat\r\nViscera weight / continuous / grams / gut weight (after bleeding)\r\nShell weight / continuous / grams / after being dried\r\nRings / integer / -- / +1.5 gives the age in years\r\n\r\nThe readme file contains attribute statistics.',
   'citation': None}},
 'variables':              name     role         type demographic  \
 0             Sex  Feature  Categorical        None
 1          Length  Feature   Continuous        None
 2        Diameter  Feature   Continuous        None
 3          Height  Feature   Continuous        None
 4    Whole_weight  Feature   Continuous        None
 5  Shucked_weight  Feature   Continuous        None
 6  Viscera_weight  Feature   Continuous        None
 7    Shell_weight  Feature   Continuous        None
 8           Rings   Target      Integer        None

                    description  units missing_values
 0         M, F, and I (infant)   None             no
 1    Longest shell measurement     mm             no
 2      perpendicular to length     mm             no
 3           with meat in shell     mm             no
 4                whole abalone  grams             no
 5               weight of meat  grams             no
 6  gut weight (after bleeding)  grams             no
 7            after being dried  grams             no
 8  +1.5 gives the age in years   None             no  }

In [3]:
temp = abalone
temp

{'data': {'ids': None,
  'features':      Sex  Length  Diameter  Height  Whole_weight  Shucked_weight  \
  0      M   0.455     0.365   0.095        0.5140          0.2245
  1      M   0.350     0.265   0.090        0.2255          0.0995
  2      F   0.530     0.420   0.135        0.6770          0.2565
  3      M   0.440     0.365   0.125        0.5160          0.2155
  4      I   0.330     0.255   0.080        0.2050          0.0895
  ...   ..     ...       ...     ...           ...             ...
  4172   F   0.565     0.450   0.165        0.8870          0.3700
  4173   M   0.590     0.440   0.135        0.9660          0.4390
  4174   M   0.600     0.475   0.205        1.1760          0.5255
  4175   F   0.625     0.485   0.150        1.0945          0.5310
  4176   M   0.710     0.555   0.195        1.9485          0.9455

        Viscera_weight  Shell_weight
  0             0.1010        0.1500
  1             0.0485        0.0700
  2             0.1415        0.2100
  3             0.1140        0.1550
  4             0.0395        0.0550
  ...              ...           ...
  4172          0.2390        0.2490
  4173          0.2145        0.2605
  4174          0.2875        0.3080
  4175          0.2610        0.2960
  4176          0.3765        0.4950

  [4177 rows x 8 columns],
  'targets':       Rings
  0        15
  1         7
  2         9
  3        10
  4         7
  ...     ...
  4172     11
  4173     10
  4174      9
  4175     10
  4176     12

  [4177 rows x 1 columns],
  'original':      Sex  Length  Diameter  Height  Whole_weight  Shucked_weight  \
  0      M   0.455     0.365   0.095        0.5140          0.2245
  1      M   0.350     0.265   0.090        0.2255          0.0995
  2      F   0.530     0.420   0.135        0.6770          0.2565
  3      M   0.440     0.365   0.125        0.5160          0.2155
  4      I   0.330     0.255   0.080        0.2050          0.0895
  ...   ..     ...       ...     ...           ...             ...
  4172   F   0.565     0.450   0.165        0.8870          0.3700
  4173   M   0.590     0.440   0.135        0.9660          0.4390
  4174   M   0.600     0.475   0.205        1.1760          0.5255
  4175   F   0.625     0.485   0.150        1.0945          0.5310
  4176   M   0.710     0.555   0.195        1.9485          0.9455

        Viscera_weight  Shell_weight  Rings
  0             0.1010        0.1500     15
  1             0.0485        0.0700      7
  2             0.1415        0.2100      9
  3             0.1140        0.1550     10
  4             0.0395        0.0550      7
  ...              ...           ...    ...
  4172          0.2390        0.2490     11
  4173          0.2145        0.2605     10
  4174          0.2875        0.3080      9
  4175          0.2610        0.2960     10
  4176          0.3765        0.4950     12

  [4177 rows x 9 columns],
  'headers': Index(['Sex', 'Length', 'Diameter', 'Height', 'Whole_weight', 'Shucked_weight',
         'Viscera_weight', 'Shell_weight', 'Rings'],
        dtype='object')},
 'metadata': {'uci_id': 1,
  'name': 'Abalone',
  'repository_url': 'https://archive.ics.uci.edu/dataset/1/abalone',
  'data_url': 'https://archive.ics.uci.edu/static/public/1/data.csv',
  'abstract': 'Predict the age of abalone from physical measurements',
  'area': 'Biology',
  'tasks': ['Classification', 'Regression'],
  'characteristics': ['Tabular'],
  'num_instances': 4177,
  'num_features': 8,
  'feature_types': ['Categorical', 'Integer', 'Real'],
  'demographics': [],
  'target_col': ['Rings'],
  'index_col': None,
  'has_missing_values': 'no',
  'missing_values_symbol': None,
  'year_of_dataset_creation': 1994,
  'last_updated': 'Mon Aug 28 2023',
  'dataset_doi': '10.24432/C55C7W',
  'creators': ['Warwick Nash',
   'Tracy Sellers',
   'Simon Talbot',
   'Andrew Cawthorn',
   'Wes Ford'],
  'intro_paper': None,
  'additional_info': {'summary': 'Predicting the age of abalone from physical measurements.  The age of abalone is determined by cutting the shell through the cone, staining it, and counting the number of rings through a microscope -- a boring and time-consuming task.  Other measurements, which are easier to obtain, are used to predict the age.  Further information, such as weather patterns and location (hence food availability) may be required to solve the problem.\r\n\r\nFrom the original data examples with missing values were removed (the majority having the predicted value missing), and the ranges of the continuous values have been scaled for use with an ANN (by dividing by 200).',
   'purpose': None,
   'funded_by': None,
   'instances_represent': None,
   'recommended_data_splits': None,
   'sensitive_data': None,
   'preprocessing_description': None,
   'variable_info': 'Given is the attribute name, attribute type, the measurement unit and a brief description.  The number of rings is the value to predict: either as a continuous value or as a classification problem.\r\n\r\nName / Data Type / Measurement Unit / Description\r\n-----------------------------\r\nSex / nominal / -- / M, F, and I (infant)\r\nLength / continuous / mm / Longest shell measurement\r\nDiameter\t/ continuous / mm / perpendicular to length\r\nHeight / continuous / mm / with meat in shell\r\nWhole weight / continuous / grams / whole abalone\r\nShucked weight / continuous\t / grams / weight of meat\r\nViscera weight / continuous / grams / gut weight (after bleeding)\r\nShell weight / continuous / grams / after being dried\r\nRings / integer / -- / +1.5 gives the age in years\r\n\r\nThe readme file contains attribute statistics.',
   'citation': None}},
 'variables':              name     role         type demographic  \
 0             Sex  Feature  Categorical        None
 1          Length  Feature   Continuous        None
 2        Diameter  Feature   Continuous        None
 3          Height  Feature   Continuous        None
 4    Whole_weight  Feature   Continuous        None
 5  Shucked_weight  Feature   Continuous        None
 6  Viscera_weight  Feature   Continuous        None
 7    Shell_weight  Feature   Continuous        None
 8           Rings   Target      Integer        None

                    description  units missing_values
 0         M, F, and I (infant)   None             no
 1    Longest shell measurement     mm             no
 2      perpendicular to length     mm             no
 3           with meat in shell     mm             no
 4                whole abalone  grams             no
 5               weight of meat  grams             no
 6  gut weight (after bleeding)  grams             no
 7            after being dried  grams             no
 8  +1.5 gives the age in years   None             no  }

In [4]:
data = temp['data']['features']
data

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550
...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950

In [6]:
target = temp['data']['targets']
target

      Rings
0        15
1         7
2         9
3        10
4         7
...     ...
4172     11
4173     10
4174      9
4175     10
4176     12

[4177 rows x 1 columns]

In [7]:
# Assigning in Sex column for Male is 1, Female 0 and I to be 2
for i in range(len(data['Sex'])):
    if data['Sex'][i] == 'M':
        data['Sex'][i] = float(1)
    elif data['Sex'][i] == 'F':
        data['Sex'][i] = float(0)
    elif data['Sex'][i] == 'I':
        data['Sex'][i] = float(2)
    

data

C:\Users\91886\AppData\Local\Temp\ipykernel_10508\407706965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Sex'][i] = float(1)
C:\Users\91886\AppData\Local\Temp\ipykernel_10508\407706965.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Sex'][i] = float(0)
C:\Users\91886\AppData\Local\Temp\ipykernel_10508\407706965.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Sex'][i] = float(2)

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight
0,1.0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500
1,1.0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700
2,0.0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100
3,1.0,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550
4,2.0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550
...,...,...,...,...,...,...,...,...
4172,0.0,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4173,1.0,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605
4174,1.0,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080
4175,0.0,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960
4176,1.0,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             4177 non-null   object
 1   Length          4177 non-null   float64
 2   Diameter        4177 non-null   float64
 3   Height          4177 non-null   float64
 4   Whole_weight    4177 non-null   float64
 5   Shucked_weight  4177 non-null   float64
 6   Viscera_weight  4177 non-null   float64
 7   Shell_weight    4177 non-null   float64
dtypes: float64(7), object(1)
memory usage: 261.2+ KB

In [9]:
# Converting sex data type to float to match all the data types
data['Sex'] = data['Sex'].astype(float)

C:\Users\91886\AppData\Local\Temp\ipykernel_10508\756804240.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Sex'] = data['Sex'].astype(float)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             4177 non-null   float64
 1   Length          4177 non-null   float64
 2   Diameter        4177 non-null   float64
 3   Height          4177 non-null   float64
 4   Whole_weight    4177 non-null   float64
 5   Shucked_weight  4177 non-null   float64
 6   Viscera_weight  4177 non-null   float64
 7   Shell_weight    4177 non-null   float64
dtypes: float64(8)
memory usage: 261.2 KB

In [11]:
target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rings   4177 non-null   int64
dtypes: int64(1)
memory usage: 32.8 KB

In [12]:
target = target.astype(float)

In [13]:
target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rings   4177 non-null   float64
dtypes: float64(1)
memory usage: 32.8 KB

In [14]:
dataFrame = pd.DataFrame(data)
dataFrame

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight
0,1.0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500
1,1.0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700
2,0.0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100
3,1.0,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550
4,2.0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550
...,...,...,...,...,...,...,...,...
4172,0.0,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4173,1.0,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605
4174,1.0,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080
4175,0.0,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960
4176,1.0,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950

In [15]:
# Adding target column for better result of R score
dataFrame['Rings'] = target
dataFrame

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
0,1.0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15.0
1,1.0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7.0
2,0.0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9.0
3,1.0,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10.0
4,2.0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7.0
...,...,...,...,...,...,...,...,...,...
4172,0.0,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11.0
4173,1.0,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10.0
4174,1.0,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9.0
4175,0.0,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10.0
4176,1.0,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12.0

In [17]:
numericColumns = ['Length','Diameter','Height','Whole_weight','Shucked_weight','Viscera_weight','Shell_weight','Rings']
numericColumns

['Length',
 'Diameter',
 'Height',
 'Whole_weight',
 'Shucked_weight',
 'Viscera_weight',
 'Shell_weight',
 'Rings']

In [18]:
scaler = MinMaxScaler()
dataFrame[numeric_columns] = scaler.fit_transform(dataFrame[numericColumns])
dataFrame

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
0,1.0,0.513514,0.521008,0.084071,0.181335,0.150303,0.132324,0.147982,0.500000
1,1.0,0.371622,0.352941,0.079646,0.079157,0.066241,0.063199,0.068261,0.214286
2,0.0,0.614865,0.613445,0.119469,0.239065,0.171822,0.185648,0.207773,0.285714
3,1.0,0.493243,0.521008,0.110619,0.182044,0.144250,0.149440,0.152965,0.321429
4,2.0,0.344595,0.336134,0.070796,0.071897,0.059516,0.051350,0.053313,0.214286
...,...,...,...,...,...,...,...,...,...
4172,0.0,0.662162,0.663866,0.146018,0.313441,0.248151,0.314022,0.246637,0.357143
4173,1.0,0.695946,0.647059,0.119469,0.341420,0.294553,0.281764,0.258097,0.321429
4174,1.0,0.709459,0.705882,0.181416,0.415796,0.352724,0.377880,0.305431,0.285714
4175,0.0,0.743243,0.722689,0.132743,0.386931,0.356422,0.342989,0.293473,0.321429
4176,1.0,0.858108,0.840336,0.172566,0.689393,0.635171,0.495063,0.491779,0.392857

# R squared

In [22]:
# Assuming you have a DataFrame 'df' and 'Rings' is the target variable
X = dataFrame.drop('Rings', axis=1)
y = dataFrame['Rings']

# Split the data into training and testing sets
XTrain, XTest, yTrain, yTest = train_test_split(X, y ,random_state=42)

# According to the question We have to do using LinearRegression model 
model = LinearRegression()

# Training the model
model.fit(XTrain, yTrain)

# Make predictions using the testing set
yPred = model.predict(XTest)

# The coefficients of determination (R^2)
print('R squared (R^2) is : %.2f' % r2_score(yTest, yPred))

R squared (R^2) is : 0.54

# Cross Validation

In [28]:
# Initializijng the variable to store R2 scores
R2Scores = []

# Number of sets to run
num_of_iterations = 20

# Initializing the index variable
i = 0


while i < num_of_iterations:
    # Here for training test_size is 0.3 because in the question train test split is 70 percent
    # Means 70% goes for training and rest 30% for testing
    XTrain, XTemp, yTrain, yTemp = train_test_split(X, y, test_size=0.3, random_state=None)
    # Here test_size is 0.3 because train value and test split are given 15% combines then to 30 %
    # Now the remaing will be 70-30 = 40% now for better result in which data to be split equally 
    # We will take 50% means test_size is 0.5
    XVal, XTest, yVal, yTest = train_test_split(XTemp, yTemp, test_size=0.5, random_state=None)

    # Create a linear regression model
    model = LinearRegression()

    # Train the model on the training set
    model.fit(XTrain, yTrain)

    # Make predictions using the validation set
    yValPred = model.predict(XVal)

    # Calculating R2 score for the validation set
    valR2 = r2_score(yVal, yValPred)

    yTestPred = model.predict(XTest)

    # Calculating R2 score for the testing set
    testR2 = r2_score(yTest, yTestPred)

    # Append the R2 score to the list
    R2Scores.append(testR2)

    # Increment the index
    i += 1

# Calculating the average and standard deviation of R2 scores
average_r2 = np.mean(R2Scores)
std_dev_r2 = np.std(R2Scores)

print(f'Average R2 Score over {num_sets} sets: {average_r2:.2f}')
print(f'Standard Deviation of R2 Score: {std_dev_r2:.2f}')

Average R2 Score over 20 sets: 0.51
Standard Deviation of R2 Score: 0.04